.mobile-about-us-text-wrapper {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mobile-about-us-text {
    text-align: center;
}

.mobile-about-us-paragraph {
    font-size: small;
}

#mobile-contact-us-btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: normal;
    background-color: #3d7bb8;
    border-radius: 5%;
    border: 0;
    color: #d9e3ef;
    font-weight: bolder;
    margin-bottom: 1rem;
}