#learn-more-image {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#texts-wrapper {
    padding-left: 0.3rem;
}

#mobile-learn-more-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: normal;
    background-color: #3d7bb8;
    border-radius: 5%;
    border: 0;
    color: #d9e3ef;
    font-weight: bolder;
    margin-bottom: 1rem;
}